:root {
    --gb-bg: #ffcea9;
    --gb-bg-hover: #ff9748;
    --gb-text: #000000;
    --gb-border: #333;
    --gb-gradient1: #fe6201;
    --gb-gradient2: #ff904a;
    --gb-text-gradient: #ffff00;
    --gb-box-shadow: rgba(0, 0, 0, 0.2);
    --gb-btn-shadow: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
    --gb-bg: #686cff;
    --gb-bg-hover: #474dfb;
    --gb-text: #ffffff;
    --gb-border: #d9d8d8;
    --gb-gradient1: #0015ff;
    --gb-gradient2: #4a4aff;
    --gb-text-gradient: #ff904a;
    --gb-box-shadow: rgba(255, 255, 255, 0.5);
    --gb-btn-shadow: rgba(0, 0, 0, 0.2);
}

.gb-main-container {
    inset: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    width: 95%;
    height: 95%;
    overflow-y: auto;
    text-align: center;
    border: 2px solid var(--gb-border);
    background: var(--gb-bg);
    color: var(--gb-text);
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.gb-header-section {
    padding: 2px;
    background: var(--gb-bg);
    color: var(--gb-text);
    text-align: center;
}

.gb-h2 {
    background: var(--gb-bg);
}

.gb-btn-container {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    background: var(--gb-bg);
    color: var(--gb-text);
    border-bottom: 1px solid var(--gb-border);
    justify-content: center;
    flex-wrap: wrap;
}

.gb-table-area {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.gb-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
}

.gb-leaderboardTable td,  .gb-leaderboardTable th{
    border: 1px solid var(--gb-border);
}

.gb-thead th {
    position: sticky;
    top: 0;
    padding: 2px;
    z-index: 10;

    background: var(--gb-bg);
    color: var(--gb-text);
    z-index: 1;
    padding: 4px;
    text-align: left;
    border-bottom: 2px solid var(--gb-border);
}

.gb-thead th {
    background: var(--gb-bg-hover);
}

.gb-td {
    padding: 2px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.gb-textarea {
    border: 1px solid var(--gb-border);
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

.gbPopupClose {
    float: right;
    cursor: pointer;
    color: var(--gb-text);
    background: var(--gb-bg);
    border: 1px solid var(--gb-border);
    transition: 0.5s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 4px;
}

.gbPopupClose:hover {
    background: var(--gb-bg-hover);
    color: var(--gb-text);
    transform: translateY(-2px);
}

.gb-footer-section {
    padding: 2px;
    background: var(--gb-bg);
    color: var(--gb-text);
    border-top: 2px solid #333;
    display: flex;
    justify-content: space-around;
}

.gb-leaderboard {
    padding: 4px 3px;
    margin-top: 1px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 5px 0 var(--gb-box-shadow);
    cursor: pointer;
    background: var(--gb-bg);
    color: var(--gb-text);
    border: 2px solid var(--gb-border);
    border-radius: 5px;
}

.gb-leaderboard:hover {
    background: var(--gb-bg-hover);
}

.gb-leaderboardSelect {
    padding: 1px 2px;
}

.gb-pageInfo {
    padding: 4px 3px;
    margin-top: 1px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    background: var(--gb-bg);
    color: var(--gb-text);
}

.gblogin {
    background: var(--gb-bg);
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 5px;
    margin: 2px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 2px 0 var(--gb-box-shadow);
    cursor: pointer;
    color: var(--gb-text);
    border: 2px solid var(--gb-border);
    text-decoration: none;
}

.gblogin:hover {
    background: var(--gb-bg-hover);
}


.gbClearPry {
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px 2px 5px 2px;
    font-size: 1.6vw;
    display: inline-block;
    margin-top: 0.1vh;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 5px 0 var(--gb-box-shadow);
    border-radius: 5px;
    color: var(--gb-text);;
    border-color: transparent;
    border: none;
    box-shadow: 0 1px 4px var(--gb-box-shadow);
}

.gbClearPry:hover {
    background: linear-gradient(90deg, #6eeb7f, #3aed3a);
}

.gbClearPry {
    background: linear-gradient(90deg, #ec7777, #ed3a3a);
}