.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  /* height: 95%; */
  overflow-y: auto;
  margin: 5px auto;
  padding: 5px;
  background: var(--bg, #fff);
  border-radius: 5px;
  text-align: center;
  border: 2px solid var(--cell-border);
  background: var(--bg);
  color: var(--text);
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-header-section {
  padding: 2px;
  background: var(--gb-bg);
  color: var(--gb-text);
  text-align: center;
}

.login-h2 {
  background: var(--gb-bg);
}

.login-form-box {
  border: 2px solid var(--cell-border);
}

.login-btn-container {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  background: var(--gb-bg);
  color: var(--gb-text);
  border-bottom: 1px solid var(--gb-border);
  justify-content: center;
  flex-wrap: wrap;
}

.login-footer-section {
  padding: 2px;
  background: var(--gb-bg);
  color: var(--gb-text);
  border-top: 2px solid #333;
  display: flex;
  justify-content: space-around;
}
.login-btn {
  display: block;
  width: 100%;
  background: #007bff;
  color: #fff;
}

.login-btn:hover {
  background: #0056b3;
}

.login-input {
  width: 100%;
}

#auth-status {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width:520px),
(max-aspect-ratio: 1/1) {
  .login-container {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    /* height: 95%; */
    /* overflow-y: auto;
    margin: 5px auto;
    padding: 5px;
    background: var(--bg, #fff);
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--cell-border);
    background: var(--bg);
    color: var(--text);
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden; */
  }
}