:root {
    --bg: #f0f0f0;
    --text: #111;
    --border: #222325d4;
    --border-highlight: #eeff00;
    --accent: #22d3ee;
    --conflict: #ff0000;
    --note: #8a8f99;
    --solved: #135fc4;
    --numpad-bg: #fff;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --cell-min: 25px;
    --cell-max: 96px;
    --cell-size: 20px;
    --cell-alt-bg: #cbcacad6;
}

body.dark {
    --bg: #121212;            
    --cell-min: 25px;
    --cell-max: 96px;
    --text: #e5e7eb;
    --border: #ffffffd9;
    --border-highlight: #fff700;
    --accent: #22d3ee;
    --conflict: #ff0000;
    --note: #7f8b9a;
    --solved: #82b1ff;
    --numpad-bg: #0b1530;
    --box-shadow: rgba(255, 255, 255, 0.5);
    --cell-alt-bg: #595959;
}

@font-face {
    font-family: 'HindiFontGajraj';
    src: url('../../assets/font/GajrajOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EnglishFontBangers';
    src: url('../../assets/font/Bangers-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital';
    src: url('../../assets/font/digital-italic.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Inter, Segoe UI, Roboto, Arial;
    overflow: hidden
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column
}

.main {
    flex: 1;
    display: flex;
    gap: 1vw;
    padding: 0.8vw;
    align-items: stretch;
    overflow: hidden
}

/* controls */
.controls {
    flex: 0 0 40%;
    background: var(--bg);
    padding: 0.2vw;
    border-radius: 1vw;
    overflow: auto;
}

h1 {
    text-align: center;
    font-size: 2vw;
    font-family: 'EnglishFontBangers', Arial, Helvetica, sans-serif;
    color: var(--fg);
    letter-spacing: .2vw;
    text-shadow: 0 1px 0 #030303,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px var(--box-shadow),
        0 0 5px var(--box-shadow),
        0 1px 3px var(--box-shadow),
        0 3px 5px var(--box-shadow),
        0 5px 10px var(--box-shadow),
        0 10px 10px var(--box-shadow),
        0 20px 20px var(--box-shadow);
    margin-bottom: 0.3vw;
}

select,
label {
    padding: 0.6vw 1vw;
    font-size: 1.6vw;
    margin: 0.2vw 0.2vw;
    /* margin-top: 0.1vh; */
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
    border-radius: 0.5vw;
    /* cursor: pointer; */
    background: var(--bg);
    color: var(--text);
    /* border: 0.2vw solid var(--border); */
    /* border: 0.2vw solid var(--cell-border); */
}
#lebelMaxSol {
    padding: 0.6vw 1vw;
}

@media (max-aspect-ratio:1/1), (max-width:768px),
(max-height:720px) and (orientation:portrait) {
    .main {
        flex-direction: column
    }

    .controls {
        flex: 0 0 auto;
        background: var(--bg);
        padding: 0.2vw;
        border-radius: 1vw;
        overflow: auto;
    }

    .numpad {
        order: 10;
        width: 100%;
    }

    /* clamp cell size */
    :root {
        --cell-min: 1.2vw;
        --cell-max: 9vw;
    }
}

/* .controls .row, */
/* .controls, */
.controls .btn  {
    gap: 0.8vw;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.4vw 0.4vw;
    margin: 0.6vw 0.6vw;
    font-size: 1.6vw;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
    border-radius: 0.5vw;
    background: var(--bg);
    color: var(--text);
    border: 0.2vw solid var(--border);
    cursor: pointer;
}

.controls .btn:hover  {
    opacity: 0.5;
}

button.primary {
    gap: 0.8vw;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.4vw 1vw;
    margin: 0.6vw 1vw;
    font-size: 1.6vw;
    display: inline-block;
    margin-top: 0.1vh;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
    border-radius: 0.5vw;
    background: linear-gradient(90deg, var(--accent), #7c3aed);
    color: #fff;
    border-color: transparent;
    background: linear-gradient(180deg, #10b981, #059669);
    color: var(--fg);
    border: none;
    box-shadow: 0 1vw 4vw var(--box-shadow);
}

button.primary:hover {
    opacity: 0.6;
} 

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0.8vw;
    gap: 0.2vw;
    color: var(--fg);
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
}

.info>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0.2vw;
    color: var(--fg);
    font-size: 1.2vw;
}

.status {
    margin-top: 0.5vw;
    padding: 0.5vw;
    border-radius: 0.8vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), transparent);
    min-height: 5vw;

    text-align: center;
    border-radius: 0.8vw;
    border: 0.2vw solid var(--border);
    background: var(--bg);
    color: var(--fg);
    font-size: 1.6vw;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
}

.lebelMaxSolVal {
    width: 15%;
    padding-top: 0.4vh;
    padding-bottom: 0.3vh;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.6vw;
    text-align: center;
    background: var(--bg);
    color: var(--fg);
    border: 0.2vw solid var(--border);
    border-radius: 0.8vw;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2vw 2.5vw 0 rgba(0, 0, 0, 0.2);
}

.lebelMaxSolVal:hover {
    transform: scale(1.05);
} 

/* board area */
.board-wrap {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.6vw
}

.board {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.1vw;
    border-radius: 0.8vw;
    padding: 0.6vw;
    background: transparent;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
    overflow: hidden;
}

.cell {
    display: flex;            
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.1vw;
    border: 0.1vw solid var(--border);
    font-size: calc(var(--cell-size) * 0.50);
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
    user-select: none
}

.cell:hover {
    opacity: 0.5;
}

.cell input {
    position: absolute;
    inset: 0;
    border: 0;
    background: transparent;
    text-align: center;
    font-weight: 700;
    pointer-events: none
}

.cell .notes {
    position: absolute;
    inset: 0.1vw;
    font-size: 0.5vw;
    display: grid;
    gap: 0.1vw;
    opacity: 0.95
}

.cell .notes span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vw;
    color: var(--note);
    font-weight: 700
}

.cell.user input {
    color: var(--text);
    font-size: calc(var(--cell-size) * 0.50);
}

.cell.solved input {
    color: var(--solved);
    font-size: calc(var(--cell-size) * 0.50);
}

.cell.conflict {
    border: 0.2vw solid var(--conflict);

}

.cell.selected {
    font-size: calc(var(--cell-size) * 0.750);
    outline: 0.3vw solid rgba(11, 116, 222, 0.14);
    z-index: 2
}

.row-highlight {
    border: 0.2vw solid var(--border-highlight);
}

.col-highlight {
    border: 0.2vw solid var(--border-highlight);
}

.cell.alt-bg {
    background: var(--cell-alt-bg);
}

.numpad {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.2vw;
    padding: 0.2vw;
    background: var(--numpad-bg);
    border-radius: 1vw;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
}

.nbtn {
    border-radius: 0.8vw;
    border: 0.2vw solid var(--border);
    background: var(--bg);
    width: 3vw;
    height: 3vw;
    color: var(--fg);
    font-size: 1vw;
    font-weight: 800;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.5vw 2.5vw 0 var(--box-shadow);
}

.nbtn:hover {
    opacity: 0.5;
}

.nbtn.selected {
    background: var(--accent);
    color: white
}

.nbtn .counter {
    position: absolute;
    right: 0.2vw;
    top: 1.8vw;
    font-size: 0.6vw;
    color: var(--note);
}

/* avoid scrollbars on controls but allow internal scroll if narrow*/
.controls::-webkit-scrollbar {
    width: 0.8vw;
    height: 0.8vw
}

.controls::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.06);
    border-radius: 0.6vw
}

/* Warn window */
.warnbar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    color: var(--fg);
    border: 0.1vw solid var(--cell-border);
    border-radius: 1.4vw;
    padding: 1vw;
    z-index: 10001;
    display: none;
    gap: 1vw;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 1vw 4vw rgba(0, 0, 0, .45);
}

.warnbar.show {
    display: flex;
}

.warnbar .row {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    background: var(--bg);
    padding: 0.6vh 0.8vw;
    border-radius: 1vw;
}

.warnbar label {
    color: var(--fg);
    font-size: 1.2vw;
}