.firework {
    position: fixed;
    bottom: 0;
    width: 6px;
    height: 20px;
    background: white;
    border-radius: 3px;
    z-index: 5000;
  }
  
  .spark {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    z-index: 5000;
    pointer-events: none;
  }
  