body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 40px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

/* Popup Style */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
}
